/* circle image */
img.bubble {
  border-radius: 50%;
  width: 6rem;
}

span.avatar {
  text-align: center; 
  display: inline-block;
  width: 6rem;
  margin-top: 1rem;
}

nav.profiles {
  display: flex;
  padding-top: 2rem;
  justify-content: center;
  padding-bottom: 2rem;
}

/* styles for include files */

.person_header {
  margin-top: 1rem;
}
.person_header.pic {
  width: 6rem;
}
.person_header.title {
  margin-left: 1rem;
  margin-top: 2rem;
}
.person_header img.twitter {
  margin-top: 0.4rem;
  width: 1.4rem;
}


.related_profiles img.bubble {
  width: 5rem;
}
.related_profiles span {
  width: 6rem;
}
.related_profiles a {
  color: black;
}
.related_profiles a:hover {
  text-decoration: none;
}

div.homepage_feature.row {
  margin: 3rem;
}
div.homepage_feature div.column {
  padding: 3rem 3rem 3rem 3rem;
  align-items: center;
  text-align: center;
}
div.homepage_feature img {
  width: 16rem;
  height: auto;
}
div.homepage_feature section {
  font-weight: 600;
}
div.homepage_feature a {
  text-decoration: none;
  color: black;
}
div.homepage_feature a:hover {
  text-decoration:none;
}


cite.publication_item {
  font-style: normal; 
  position: relative;
}
cite.publication_item h3 {
  margin:0; 
  font-weight: 400;
}
cite.publication_item h3 a {
  color: black
}
div.publication_year {
  position: absolute;
  left: -5rem; 
  background-color: lightgrey; 
  padding: 0.5rem; 
  border-radius: 0.2rem; 
  font-style: italics
}
div.publication_location {
  color: #777;
  font-size: 0.8rem; 
  font-weight: 300;
}
cite.publication_item span {
  font-size: 0.9rem; 
  font-weight: 370;
  display: inline; 
  padding: 0.1rem; 
  white-space:nowrap;
}
div.publications hr {
  display: block;
  /* margin-top: 0.8rem; margin-bottom: 0.8rem; */
}


/* styles targetting unique key features not in includes */

div.homepage_header {
  align-items: center;
  padding: 1rem;
  color: white;
  background-color: #f38020;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
div.homepage_header h1 {
  font-size: 3rem;
  margin-top: 0;
  margin-bottom: 0;
}

span.nobreak {
  white-space:nowrap;  
}
