:root {
  --red-0: #3c0501;
  --red-1: #5a0801;
  --red-2: #780a02;
  --red-3: #970d02;
  --red-4: #b20f03;
  --red-5: #e81403;
  --red-6: #fc574a;
  --red-7: #fe9f97;
  --red-8: #feccc8;
  --red-9: #ffefee;

  --orange-0: #361a02;
  --orange-1: #482303;
  --orange-2: #592b04;
  --orange-3: #763905;
  --orange-5: #c05d08;
  --orange-4: #8d4406;
  --orange-6: #ee730a;
  --orange-7: #f8a054;
  --orange-8: #fbcda5;
  --orange-9: #fef1e6;

  --gold-0: #261c00;
  --gold-1: #3e2d00;
  --gold-2: #4c3700;
  --gold-3: #644900;
  --gold-4: #735400;
  --gold-5: #a77a00;
  --gold-6: #dda100;
  --gold-7: #ffce4b;
  --gold-8: #ffeab2;
  --gold-9: #fff8e4;

  --green-0: #0a2614;
  --green-1: #0e381d;
  --green-2: #104122;
  --green-3: #15562d;
  --green-4: #196535;
  --green-5: #228b49;
  --green-6: #2db35e;
  --green-7: #55d584;
  --green-8: #a8e9c0;
  --green-9: #e3f8eb;

  --cyan-0: #061b20;
  --cyan-1: #0b333e;
  --cyan-2: #0d3e4b;
  --cyan-3: #115061;
  --cyan-4: #156074;
  --cyan-5: #1e89a5;
  --cyan-6: #30b6da;
  --cyan-7: #73cee6;
  --cyan-8: #ace2f0;
  --cyan-9: #e9f7fb;

  --blue-0: #001c43;
  --blue-1: #002b67;
  --blue-2: #003681;
  --blue-3: #0045a6;
  --blue-4: #0051c3;
  --blue-5: #086fff;
  --blue-6: #4693ff;
  --blue-7: #82b6ff;
  --blue-8: #b9d6ff;
  --blue-9: #ecf4ff;

  --indigo-0: #170f58;
  --indigo-1: #221785;
  --indigo-2: #2c1ea9;
  --indigo-3: #3524cd;
  --indigo-4: #4b3bdc;
  --indigo-5: #7366e4;
  --indigo-6: #9d94ec;
  --indigo-7: #c2bdf3;
  --indigo-8: #dfdcf9;
  --indigo-9: #f1f0fc;

  --violet-0: #350b42;
  --violet-1: #490f5c;
  --violet-2: #5f1477;
  --violet-3: #741892;
  --violet-4: #8d1eb1;
  --violet-5: #b73cdf;
  --violet-6: #cf7ee9;
  --violet-7: #dfa8f1;
  --violet-8: #ebcaf6;
  --violet-9: #f7eafb;

  --pink-0: #2d0210;
  --pink-1: #4e031c;
  --pink-2: #6a0426;
  --pink-3: #8d0633;
  --pink-4: #af0740;
  --pink-5: #e80954;
  --pink-6: #f85189;
  --pink-7: #fb97b9;
  --pink-8: #fdc9db;
  --pink-9: #fef1f5;

  --gray-0: #1d1d1d;
  --gray-1: #313131;
  --gray-2: #3d3d3d;
  --gray-3: #4a4a4a;
  --gray-4: #595959;
  --gray-5: #797979;
  --gray-6: #999999;
  --gray-7: #b6b6b6;
  --gray-8: #d9d9d9;
  --gray-9: #f2f2f2;
}
