---
layout: skaffold
title: Projects
---

<nav class="nav" id="nav">
  {% if navigation %}
  <ul>
    {% for item in navigation -%}
    <li class="{% if item.path in page.url %}active{% endif %}"><a href="{{ item.path }}">{{ item.label }}</a></li>
    {% endfor -%}
  </ul>
  {% endif %}
</nav>

<article class="content" id="content">

<h1>Projects</h1>
Cloudflare Research embarks upon projects that help shape the future of the Internet at large and the systems that drive it. 
<br />
<br />
We design, develop, and deploy these projects into Cloudflare systems to demonstrate their impact, and to share that knowledge with the wider standards and research communities — often in collaboration with university or other industry labs. Engineers and Researchers in the team investigate new ideas, build new technologies, inform and execute measurement practices, and even dive into existing codebases to make meaningful changes in production environments. 
<br />
<br />
Our current works focuses on applied cryptography, privacy, network protocols and architecture, measurement and performance evaluation, and increasingly distributed systems. Learn more about of our recent high-profile projects.
</article>
