---
layout: skaffold
title: Past Events
---

<article class="content" id="content">

<h1>
  Past Events
</h1>
<div class="events">
  {% for event in collections.event | reverse %}
  {% if event.data.end %}
    {% set endtime = event.data.end %}
  {% else %}
    {% set endtime = event.date.getTime() %}
  {% endif %}
  {% if endtime < site.now %}
  <div>
  <h3><small>{{ event.date.getFullYear() + "-" + ( "0" + ( event.date.getMonth() + 1 ) ).slice( -2 ) + "-" + ( "0" + event.date.getDate() ).slice( -2 ) }}</small> 
    {% if event.data.link %}
    <a href="{{ event.data.link }}">{{ event.data.title }}</a>
    {% else %}
    <a href="{{ event.url }}">{{ event.data.title }}</a>    
    {% endif %}
  </h3>
  {% if event.data.description %}
  <p>{{ event.data.description }}</p>
  {% else %}
  {{ event.templateContent | safe }}
  {% endif %}
  </div>
  
  {% endif %}
  {% endfor %}
</div>

<br />

</article>

<aside class="sidebar" id="sidebar">
  <div class="column" style="margin-top: 2rem">
    <a class="button" href="/outreach/updates/mailinglist/">Sign up for updates</a>
  </div>
</aside>
