---
layout: skaffold
title: Internet Infrastructure
---

<article class="content" id="content">

<h1>Internet Infrastructure</h1>

This area is focused on improving the stability, security, and reliability of the fundamental building blocks of the Internet. This includes building high-reliability services for basic functions like time and digital certificates as well as advancing standards.

<br />
<br />
<h2>Projects</h2>
<ul>
{% for item in lookup[ page.url ] %}
  <li><a href="{{ item.path }}">{{ item.label }}</a></li>
{% endfor -%}
</ul>
</article>
