---
layout: base
---

<div class="wrapper" id="wide">

<header class="header">
{% include 'header.njk' %}
</header>

<article class="content" style="margin-left: 0; margin-right: 0;">
  <div class="column homepage_header">
  <!--  <h1>Cloudflare Research</h1> -->
    <p>Our goal is to further Cloudflare's mission to help build a better Internet by taking computer science research from theory to reality</p>
  </div>

  <br>
  <h2 style="text-align: center; color: var(--green-1);">Latest Research Updates <a style="text-decoration: none; background-color: var(--indigo-9); padding: 0 1rem;" href="/updates/">&rarr;</a></h2>

  {% include 'homepage_features.njk' -%}

</article>

<footer class="footer">
{% include 'footer.njk' %}
</footer>

</div>

