---
layout: base
---

<nav class="nav column" style="padding-left: 3rem;">
<h1>Cloudflare Research</h1>
<h3 style="width: 5rem;">Building a better Internet through <span style="color: #f6821f">experimentation</span> and fundamental Computer Science</h3>
</nav>

<!--
style="background-color: #f6821f; padding-left: 2rem; display: flex; justify-content: left; align-items: center">
<span style="font-size: 15vh; writing-mode: vertical-rl; color: #d6720f">Cloudflare</span>
-->

<article class="content" style="">
</article>

<aside class="sidebar">
</aside>

<!--
style="background-color: #f6821f; display: flex; justify-content: right; align-items: center">
<span style="font-size: 15vh; writing-mode: vertical-rl; color: #d6720f; transform: rotate(180deg)">Research</span>
-->