---
layout: skaffold
title: People
---

<nav class="nav" id="nav">
</nav>

<article class="content" id="content">

<h1>People</h1>

Our engineers and researchers investigate new ideas, build new technologies, inform and execute measurement practices, dive into existing codebases to make meaningful changes in the Internet-wide sphere, work independently on greenfield projects and collaborate closely to help to build a better Internet. If you are interested in joining us, check out our <a href="https://www.cloudflare.com/careers/jobs/?department=Technology%20Research&location=default"><b>open positions</b></a>!

<nav class="profiles">

{% set related_profiles = people.employees -%}
{% include 'related_profiles.njk' -%}

 <!--  <div style="padding: 0 0.2rem; margin: 0 0.2rem"></div>  -->

 <!-- {% set related_profiles = other_profiles -%}  -->
 <!-- {% include 'related_profiles.njk' -%}  -->

</nav>

<!-- content -->
</article>
