---
layout: skaffold
title: People
---

<nav class="nav" id="nav">
</nav>

<article class="content" id="content">

<h1>People</h1>

Our engineers and researchers investigate new ideas, build new technologies, inform and execute measurement practices, dive into existing codebases to make meaningful changes in the Internet-wide sphere, work independently on greenfield projects and collaborate closely to help to build a better Internet.


<nav class="profiles">
  {% set current_profiles = [] -%}
  {% set other_profiles = [] -%}
  {% for profile in people.ordered -%}
    {% if profile.status == 'current' -%}
      {% set current_profiles = ( current_profiles.push( profile.slug ), current_profiles ) -%}
    {% else -%}
      {% set other_profiles = ( other_profiles.push( profile.slug ), other_profiles ) -%}
    {% endif -%}
  {% endfor -%}
  {% set related_profiles = current_profiles -%}
{% include 'related_profiles.njk' -%}

<hr style="margin-right: 0.5rem; border: 1px solid #f8c471" />

{% set related_profiles = other_profiles -%}
{% include 'related_profiles.njk' -%}

</nav>

<!-- content -->
</article>

<aside class="sidebar" id="sidebar">
  <div class="column" style="margin-top: 2rem">
    <a class="button" href="https://www.cloudflare.com/careers/jobs/?department=Technology%20Research&location=default">Join our team</a>
    <a class="button" href="https://www.cloudflare.com/careers/jobs/?department=University&location=default">Internships</a>
    <a class="button" href="visitingresearcher/">Visiting Researchers</a>  
  </div>
</aside>
