---
layout: skaffold_nav
title: Internet Measurement
---

<article class="content" id="content">

<h1>Network Privacy</h1>

Some text
<br />
<br />
<br />
<h3 style="margin-bottom: -1rem;">Projects</h3>
<br />
<a href="./middlebox-mapping">Middlebox Mapping</a>
<br />
<a href="./">Traffic Tampering</a>
<br />
<a href="./">Multi-user IP detection</a>
<br />
<a href="./">Routing Resilience</a>
<br />
<a href="./">IP Geolocation</a>
<br />
<a href="./">Connection Coalescing Measurements</a>
</article>
