{% set items = {
  'Contact us': '/contact/',
  'Privacy policy': 'https://www.cloudflare.com/privacypolicy/',
  'Terms of service': 'https://www.cloudflare.com/website-terms/'
}
-%}

<span>
  Copyright &copy; {{ site.copyright }} Cloudflare</span> |
  {% for name, link in items %}
  <span><a href="{{ link }}" {% if 'http' in link %} target="_blank" nofollow{% endif %}>{{ name }}</a></span> {% if not loop.last %} | {% endif %}
  {% endfor %}

</span>
