{% set items = [
  { 'Approach': '/approach/' },
  { 'Projects': '/projects/' },
  { 'Publications': '/publications/' },
  { 'People': '/people/' },
  { 'Resources': '/resources/' },
  { 'Updates': '/updates/' }
] -%}


<nav id="hamburger_header_navigation">
<input type="checkbox" id="burger-shower" class="burger-shower">
<label for="burger-shower" class="hamburger">
<svg viewBox="0 0 100 80">
<rect y="10" width="80" height="5"></rect>
<rect y="30" width="80" height="5"></rect>
<rect y="50" width="80" height="5"></rect>
</svg>
</label>

<ul class="burger-menu">
{% for item in items -%}
{% for name, link in item -%}
<li><a {% if link in page.url -%}class="active" {% endif -%}{% if 'http' in link -%}target="_blank" rel="noopener" {% endif -%}href="{{ link }}">{{ name }}</a></li>
{% endfor -%}
{% endfor -%}
</ul>
</nav>

<img src="/img/cloud.svg" alt="Cloudflare orange cloud logo" width="30rem" height="2rem" />
<a class="logo" href="/">Cloudflare Research</a>

<ul id="inline_header_navigation">
{% for item in items -%}
{% for name, link in item -%}
<li><a {% if link in page.url -%}class="active" {% endif -%}{% if 'http' in link -%}target="_blank" rel="noopener" {% endif -%}href="{{ link }}">{{ name }}</a></li>
{% endfor -%}
{% endfor -%}
</ul>

<!-- border bottom -->
{% if page.url == '/' %}
<div style="position: absolute; display: block; border: 0; padding: 0; margin: 0; width: 100%; height: 0.2rem; top: 3.6rem; background-color: #f0f0f0;">&nbsp;</div>
{% else %}
<div style="position: absolute; display: block; border: 0; padding: 0; margin: 0; width: 100%; height: 0.2rem; top: 3.6rem; background: linear-gradient(70deg, var(--green-8) 30%, rgba(0,0,0,0) 30%), linear-gradient(30deg, var(--indigo-8) 60%, var(--orange-8) 60%);">&nbsp;</div>
{% endif %}
