{% set features = [] -%}

{% for blogpost in blogposts.ordered -%}
  {% if loop.index <= 3 -%}
    {% set features = ( features.push( blogpost ), features ) -%}
  {% endif -%}
{% endfor -%}

<div class="homepage_feature row" style="justify-content: center">
{% for feature in features -%}

{% if loop.index % 3 == 0 %}
  {% set border_css = 'var(--cyan-7)' %}
{% elseif loop.index % 2 == 0 %}
  {% set border_css = 'var(--orange-7)' %}
{% else %}
  {% set border_css = 'var(--gold-8)' %}
{% endif %}

  <div class="column">
   <a href="{{ feature.link | replace( 'http:', 'https:' ) }}">
      <img src="{{ feature.image | replace( 'http:', 'https:' ) }}" alt="{{ feature.heading | safe }}" style="border: 0.5rem solid {{ border_css }}; border-radius: 0.5rem" />
      <section>{{ feature.heading | safe }}</section>
      <p>{{ feature.text | safe }}</p>
    </a>
  </div>

{% endfor -%}
</div>
