{% set features = [] %}

{% for blogpost in blogposts %}
  {% if loop.index <= 3 %}
    {% set features = ( features.push( blogpost ), features ) %}
  {% endif %}
{% endfor %}

<div class="homepage_feature row">
{% for feature in features -%}

  <div class="column">
    <a href="{{ feature.link }}">
      <img src="{{ feature.image }}" alt="{{ feature.heading }}" />
      <section>{{ feature.heading }}</section>
      <p>{{ feature.text }}</p>
    </a>
  </div>

{% endfor -%}
</div>
