{% set features = [
  { 
    link: 'https://blog.cloudflare.com/introducing-cryptographic-attestation-of-personhood/', 
    image: 'https://blog.cloudflare.com/content/images/2021/04/image2-36.png', 
    heading: 'Ending CAPTCHAs with the Cryptographic Attestation of Personhood', 
    text: 'A real human should be able to touch or look at their device to prove they are human, without revealing their identity'
  },
  { 
    link: 'https://blog.cloudflare.com/oblivious-dns/', 
    image: 'https://blog.cloudflare.com/content/images/2020/12/image2-4.png', 
    heading: 'Improving DNS Privacy with Oblivious DoH in 1.1.1.1', 
    text: 'We support a new proposed DNS standard — co-authored by engineers from Cloudflare, Apple, and Fastly — that separates IP addresses from queries, so that no single entity can see both at the same time'
  },
  { 
    link: 'https://blog.cloudflare.com/cloudflare-distributed-web-resolver/', 
    image: 'https://blog.cloudflare.com/content/images/2021/01/image4-2.png', 
    heading: 'A Name Resolver for the Distributed Web', 
    text: 'Announcing a new resolver for the Distributed Web, where IPFS content indexed by the Ethereum Name Service (ENS) can be accessed'
  }
] %}

<div class="homepage_feature row">
{% for feature in features -%}

  <div class="column">
    <a href="{{ feature.link }}">
      <img src="{{ feature.image }}" alt="{{ feature.heading }}" />
      <section>{{ feature.heading }}</section>
      <p>{{ feature.text }}</p>
    </a>
  </div>

{% endfor -%}
</div>
