{% set interest_classes = '' %}

{% if publication.related_interests != undefined -%}
{% for interest in publication.related_interests -%}
  {% set interest_class = [ 'a', interest ] | join -%}
  {% set interest_classes = [ interest_classes, interest_class ] | join( ' ' ) -%}
{% endfor -%}
{% endif -%}

<cite class="publication_item y{{ publication.year }} {{ interest_classes }}">

<h3>{% if publication.year %}<small>{{ publication.year }}</small>{% endif %}<a href="/publications/{{ publication.slug }}">{{ publication.title }}</a></h3>
<div class="publication_location">
{{ publication.location }}
</div>
  {% for author in publication.authors -%}
  {% if people[ author ] -%}
    {% if people[ author ][ 'author_name' ] -%}
      {% set name = people[ author ][ 'author_name' ] -%}
    {% else -%}
      {% set name = people[ author ][ 'title' ] -%}
    {% endif -%}
  <span><a href="/{{ people[ author ].path }}">{{ name }}</a></span>{% if not loop.last %},{% endif %}
  {% else -%}
  <span>{{ author }}</span>{% if not loop.last %},{% endif %}
  {% endif -%}
  {% endfor -%}
<hr />
</cite>
