<cite class="publication_item">
{% if showYear -%}
<div class="publication_year">{{ publication.year }}</div>
{% endif -%}
<h3><a href="/publications/{{ publication.slug }}">{{ publication.title }}</a></h3>
<div class="publication_location">
{{ publication.location }}
</div>
  {% for author in publication.authors -%}
  {% if people[ author ] -%}
  <span><a href="/people/{{ people[ author ].slug }}">{{ people[ author ].title }}</a></span>{% if not loop.last %},{% endif %}
  {% else -%}
  <span>{{ author }}</span>{% if not loop.last %},{% endif %}
  {% endif -%}
  {% endfor -%}
</cite>
