
{% set profile_slug = page.fileSlug %}
{% set author_publications = publications[ profile_slug ] %}

<div class="publications">

  <hr />
{% for publication_slug in author_publications -%}
{% set publication = publications[ publication_slug ] %}
{% if publication -%}
  
  {% include 'publication_item.njk' %}
  <hr />
{% endif %}
{% endfor %}

</div>