
{% if not related_publications -%}
  {% set profile_slug = page.fileSlug -%}
  {% set related_publications = publications[ profile_slug ] -%}
{% endif %}

<div class="publications">

{% for publication_slug in related_publications -%}
{% set publication = publications[ publication_slug ] -%}
{% if publication -%}
  
  {% include 'publication_item.njk' %}

{% endif -%}
{% endfor -%}

</div>
