---
layout: skaffold
title: Applied Cryptography
---

<nav class="nav" id="nav">
</nav>

<article class="content" id="content">

<h1>Applied Cryptography</h1>

Some text
<br>
<br>
<br>
<br>
<h3 style="margin-bottom: -1rem;">Projects</h3>
{% set profile_slug = page.fileSlug -%}
{% include 'related_projects.njk' -%}

</article>
