---
layout: skaffold
title: Applied Cryptography
---

<article class="content" id="content">

<h1>Applied Cryptography</h1>

This research area is focused on taking advanced cryptographic concepts and algorithms and applying them to help solve real-world problems. Topics include cross-platform implementation of primitives, security analysis, and standardization.

<br />
<br />
<h2>Projects</h2>
<ul>
{% for item in lookup[ page.url ] %}
  <li><a href="{{ item.path }}">{{ item.label }}</a></li>
{% endfor -%}
</ul>
</article>
