---
layout: skaffold
title: Network Measurement & Architecture
---

<article class="content" id="content">

<h1>Network Measurement & Architecture</h1>


This research area is about measuring and mapping the various components that are present on the Internet and how they interact with traffic, and each other. Given Cloudflare’s unique position, we have a unique opportunity to measure the network and understand how it is evolving with an eye on helping improve availability, security, and performance.

<br />
<br />

<ul>
{% for item in lookup[ page.url ] %}
  <li><a href="{{ item.path }}">{{ item.label }}</a></li>
{% endfor -%}
</ul>
</article>
