---
layout: skaffold
title: Visiting Researchers
---

<nav class="nav" id="nav">
</nav>

<article class="content" id="content">

<h1>Visiting Researchers</h1>

Cloudflare Research is open to collaborate with the global research community to help build a better Internet in multiple areas. Current research focuses on applied cryptography, privacy, network protocols and architecture, measurement and performance evaluation, and, increasingly, distributed systems. 
<br />
<br />
With the Visiting Researcher program, Cloudflare aims to foster a shared motivation with academia and engage together in seeking innovative solutions to help build a better Internet in the mentioned domains. In doing so, Cloudflare Research expects to develop collaborative projects with real world applicability and also push industry forward.
<br />
<br />
You can learn more about the program and <a href="program/"><b>express your interest</b></a> in a collaboration and discover more about the <a href="https://blog.cloudflare.com/visiting-researcher-program/" target="_blank">experience</a>. 
<br />
<br />
<h3 style="margin-bottom: -1rem;">Current and Former Visiting Researchers</h3>
<nav class="profiles" style="justify-content: left;">
{% set related_profiles = people.researchers -%}
{% include 'related_profiles.njk' -%}

 <!--  <div style="padding: 0 0.2rem; margin: 0 0.2rem"></div>  -->

 <!-- {% set related_profiles = other_profiles -%}  -->
 <!-- {% include 'related_profiles.njk' -%}  -->

</nav>

<!-- content -->
</article>
