---
layout: skaffold
title: Network Privacy
---

<article class="content" id="content">

<h1>Network Privacy</h1>

This area is complementary to Application Privacy - although there's a shared goal of enhancing user privacy, here the focus in on metadata on the network layer that can be used to learn about applications and users behavior.
<br />
This program of work safeguards against network-level judgment and fragmentation risks that exist because different semantics across networks and regions are applied to the same metadata. Cloudflare has the opportunity to help upgrade Internet protocols so that application metadata (hostnames -- via SNI, IP addresses, or fingerprintable data) can no longer be easily extracted from Internet packets.

<br />
<br />
<h2>Projects</h2>
<ul>
{% for item in lookup[ page.url ] %}
  <li><a href="{{ item.path }}">{{ item.label }}</a></li>
{% endfor -%}
</ul>
</article>
