---
layout: skaffold
title: Network Privacy
---

<article class="content" id="content">

<h1>Network Privacy</h1>

This area is complementary to Application Privacy - although there's a shared goal of enhancing user privacy, here the focus in on network data.
<br />


Focus on reducing or eliminating metadata on the network layer that can be used to learn about applications and users behavior.



<br />
<br />
<br />
<h3 style="margin-bottom: -1rem;">Projects</h3>
<br />
<a href="./ech">Encrypted Client Hello</a>
<br />
<a href="./odns">Oblivious DNS over HTTPS</a>
<br />
<a href="./tls">TLS</a>
</article>
