---
import HeaderPresentations from "@/components/HeaderPresentations.astro";
import InteriorLayout from "../layouts/interior.astro";
import Section from "@/components/Section.astro";
import PresentationGrid from "@/components/PresentationGrid.astro";

const { t, getLocalizedCollection } = Astro.locals;

// get all publication from the content collection
const allPresentations = await getLocalizedCollection("presentations");
allPresentations.sort((a, b) => b.data.year - a.data.year);
---

<InteriorLayout metaTitle={t("presentations.metaTitle")} metaDescription={t("presentations.metaDescription")}>
  <HeaderPresentations />

  <Section>
    <PresentationGrid presentations={allPresentations} />
  </Section>
</InteriorLayout>
