---
import HeaderPresentations from "@/components/HeaderPresentations.astro";
import InteriorLayout from "../layouts/interior.astro";
import Section from "@/components/Section.astro";
import PresentationGrid from "@/components/PresentationGrid.astro";
import { getCollection } from "astro:content";
import { getTranslations } from "polystella/i18n";

const t = await getTranslations(Astro.currentLocale);

// get all publication from the content collection
const allPresentations = await getCollection("presentations");
allPresentations.sort((a, b) => b.data.year - a.data.year);
---

<InteriorLayout metaTitle={t("presentations.metaTitle")} metaDescription={t("presentations.metaDescription")}>
  <HeaderPresentations />

  <Section>
    <PresentationGrid presentations={allPresentations} />
  </Section>
</InteriorLayout>
