---
import SeeMore from "./SeeMore.astro";

const {} = Astro.props;
---

<div class="border-2 border-page-border flex justify-between items-center px-8 py-6">
  <div>
    <div class="text-bizarre mb-1 font-medium text-xl">Principle Technical Engagement Manager</div>
    <div class="text-stack text-xl">Austin, San Francisco, Singapore</div>
  </div>

  <div><SeeMore>Details</SeeMore></div>
</div>