<header class="interior-header">
  <h1 class="heading">Faster</h1>
  <h2 class="subheading">Advancing distributed systems and caching technologies that minimize latency and accelerate the global Internet.</h2>
</header>