<header class="interior-header">
  <h1 class="heading">All Focus Areas</h1>
  <h2 class="subheading">Driving innovation across five key areas to create a faster, safer, more private, reliable, and measurable Internet.</h2>
</header>