<header class="interior-header">
  <h1 class="heading">Our Philosophy</h1>
  <h2 class="subheading">Solving the Internet’s most complex challenges by turning bleeding-edge research into production-ready reality.</h2>
</header>