---
const { t } = Astro.locals;
---

<header class="interior-header">
  <h1 class="heading">{t("globals.morePrivate")}</h1>
  <h2 class="subheading">{t("nav.focusAreas.morePrivate.description")}</h2>
</header>
