---
const { t } = Astro.locals;
---

<header class="interior-header">
  <h1 class="heading">{t("philosophy.heading")}</h1>
  <h2 class="subheading">
    {t("philosophy.subheading")}
  </h2>
</header>
