---
const { t } = Astro.locals;
---

<header class="interior-header">
  <h1 class="heading">{t("nav.focusAreas.all.title")}</h1>
  <h2 class="subheading">{t("nav.focusAreas.all.description")}</h2>
</header>
