---
layout: skaffold
title: Updates
---

<nav class="nav" id="nav">
</nav>

<article class="content" id="content">

<h1>Research Updates from the <a href="https://blog.cloudflare.com/">Cloudflare Blog</a></h1>
<div class="updates">
  {% for blogpost in blogposts %}
  <div>
  <h3><small style="position: relative; left: -1rem"><i>{{ blogpost.date }}</i></small> <a href="{{ blogpost.link }}" target="_blank">{{ blogpost.heading }}</a></h3>
  <p>{{ blogpost.text }}</p>
  </div>
  {% endfor %}
</div>

<br />

</article>

<aside class="sidebar" id="sidebar">
  <div class="column" style="margin-top: 2rem">
    <a class="button" href="/mailinglist">Sign up for the newsletter</a>
  </div>
</aside>
