---
layout: skaffold
title: Future Networks and Applications 
---

<article class="content" id="content">

<h1>Future Networks and Applications</h1>

The primary focus of this research area is on building technologies and tools to anticipate the political and technical challenges that we’ll be facing over the next 3-5 years. Current project themes are centered on Web3, key distribution and management and quantum-safe cryptography.


<br />
<br />
<h3 style="margin-bottom: -1rem;">Projects</h3>
<br />
<a href="./distributed-web">Distributed Web</a>
<br />
<a href="./geokm">Geo Key Manager</a>
<br />
<a href="./post-quantum-cryptography">Post-quantum Cryptography</a>
</article>
