---
import HeaderFast from "@/components/HeaderFast.astro";
import InteriorLayout from "../../layouts/interior.astro";
import Section from "@/components/Section.astro";
import ArticleGrid from "@/components/ArticleGrid.astro";
import { getArticlesByPillar } from "@/lib/getArticlesByPillar";

const { t } = Astro.locals;
const combinedArticles = await getArticlesByPillar("fast");
---

<InteriorLayout metaTitle={t("fast.metaTitle")} metaDescription={t("fast.metaDescription")}>
  <HeaderFast />

  <Section>
    <ArticleGrid publications={combinedArticles} />
  </Section>
</InteriorLayout>
