---
import HeaderMeasurable from "@/components/HeaderMeasurable.astro";
import InteriorLayout from "../../layouts/interior.astro";
import Section from "@/components/Section.astro";
import ArticleGrid from "@/components/ArticleGrid.astro";
import { getArticlesByPillar } from "@/lib/getArticlesByPillar";

const combinedArticles = await getArticlesByPillar("measurable", Astro.currentLocale);
const { t } = Astro.locals;
---

<InteriorLayout metaTitle={t("nav.focusAreas.moreMeasurable.metaTitle")} metaDescription={t("nav.focusAreas.moreMeasurable.description")}>
  <HeaderMeasurable />

  <Section>
    <ArticleGrid publications={combinedArticles} />
  </Section>
</InteriorLayout>
