---
import HeaderPrivate from "@/components/HeaderPrivate.astro";
import InteriorLayout from "../../layouts/interior.astro";
import Section from "@/components/Section.astro";
import ArticleGrid from "@/components/ArticleGrid.astro";
import { getArticlesByPillar } from "@/lib/getArticlesByPillar";

const combinedArticles = await getArticlesByPillar('private');
---

<InteriorLayout metaTitle="Private Focus Area" metaDescription="Advancing privacy-preserving systems. Access the latest research, publications, and open standards from Cloudflare dedicated to user privacy, data minimization, and secure internet protocols.">
  <HeaderPrivate />

  <Section>
    <ArticleGrid publications={combinedArticles} />
  </Section>

</InteriorLayout>