---
import HeaderPrivate from "@/components/HeaderPrivate.astro";
import InteriorLayout from "../../layouts/interior.astro";
import Section from "@/components/Section.astro";
import ArticleGrid from "@/components/ArticleGrid.astro";
import { getArticlesByPillar } from "@/lib/getArticlesByPillar";

const combinedArticles = await getArticlesByPillar("private");
const { t } = Astro.locals;
---

<InteriorLayout metaTitle={t("nav.focusAreas.morePrivate.metaTitle")} metaDescription={t("nav.focusAreas.morePrivate.description")}>
  <HeaderPrivate />

  <Section>
    <ArticleGrid publications={combinedArticles} />
  </Section>
</InteriorLayout>
