---
import HeaderReliable from "@/components/HeaderReliable.astro";
import InteriorLayout from "../../layouts/interior.astro";
import Section from "@/components/Section.astro";
import ArticleGrid from "@/components/ArticleGrid.astro";
import { getArticlesByPillar } from "@/lib/getArticlesByPillar";

const combinedArticles = await getArticlesByPillar("reliable");
const { t } = Astro.locals;
---

<InteriorLayout metaTitle={t("nav.focusAreas.moreReliable.metaTitle")} metaDescription={t("nav.focusAreas.moreReliable.description")}>
  <HeaderReliable />

  <Section>
    <ArticleGrid publications={combinedArticles} />
  </Section>
</InteriorLayout>
