---
import HeaderSafe from "@/components/HeaderSafe.astro";
import InteriorLayout from "../../layouts/interior.astro";
import Section from "@/components/Section.astro";
import ArticleGrid from "@/components/ArticleGrid.astro";
import { getArticlesByPillar } from "@/lib/getArticlesByPillar";

const combinedArticles = await getArticlesByPillar("safe", Astro.currentLocale);
const { t } = Astro.locals;
---

<InteriorLayout metaTitle={t("nav.focusAreas.safer.metaTitle")} metaDescription={t("nav.focusAreas.safer.description")}>
  <HeaderSafe />

  <Section>
    <ArticleGrid publications={combinedArticles} />
  </Section>
</InteriorLayout>
