---
layout: skaffold_nav
title: Application Privacy
---

<article class="content" id="content">

<h1>Application Privacy</h1>


Some text
<br />
<br />
<br />

<ul>
{% for item in lookup[ page.url ] %}
  <li><a href="{{ item.path }}">{{ item.label }}</a></li>
{% endfor -%}
</ul>
