---
layout: content
---

<h1 style="margin-bottom: 0">{{ title }}</h1>

{% for author in authors %}
{% if people[ author ] -%}
  {% if people[ author ][ 'author_name' ] -%}
    {% set name = people[ author ][ 'author_name' ] -%}
  {% else -%}
    {% set name = people[ author ][ 'title' ] -%}
  {% endif -%}
<span class="nobreak"><a href="/people/{{ people[ author ].slug }}">{{ name }}</a></span>{% if not loop.last %},{% endif %}
{% else -%}
<span class="nobreak">{{ author }}</span>{% if not loop.last %},{% endif %}
{% endif -%}
{% endfor %}

<div class="publication_location">{{ location }}</div>
{% if url %}
<a href="{{ url }}" target="_blank">read this publication &#x2197;</a><br />
{% endif %}

<br />

<h2>Abstract</h2>
{{ content | safe }}
<br />

{% if related_areas %}
<h2>Research Areas</h2>
  {% for related_area in related_areas %}
  {{ areas[ related_area ].name }}{% if not loop.last %}, {% endif %}
  {% endfor %}
<br /><br />
{% endif %}

{% if related_projects %}
<h2>Related Projects</h2>
  {% for related_project in related_projects %}
  <a href="/projects/{{ projects[ related_project ].path }}">{{ projects[ related_project ].name }}</a>{% if not loop.last %}, {% endif %}
  {% endfor %}
<br /><br />
{% endif %}
