---
layout: content
---

<h1 style="margin-bottom: 0">{{ title }}</h1>

{% for author in authors %}
{% if people[ author ] -%}
  {% if people[ author ][ 'author_name' ] -%}
    {% set name = people[ author ][ 'author_name' ] -%}
  {% else -%}
    {% set name = people[ author ][ 'title' ] -%}
  {% endif -%}
<span class="nobreak"><a href="/{{ people[ author ].path }}">{{ name }}</a></span>{% if not loop.last %},{% endif %}
{% else -%}
<span class="nobreak">{{ author }}</span>{% if not loop.last %},{% endif %}
{% endif -%}
{% endfor %}

<div class="publication_location">{{ location }}</div>
{% if doi %}
<a href="https://doi.org/{{ doi }}" target="_blank">view &#x2197;</a>
{% else %}
<a href="{{ url }}" target="_blank">view &#x2197;</a>
{% endif %}

{% if publications[ page.fileSlug ].local %}
&nbsp; &nbsp;<a href="https://files.research.cloudflare.com/publication/{{ page.fileSlug }}.pdf" target="_blank">download </a><br />
{% endif %}

<br />

<h2>Abstract</h2>
{{ content | safe }}

{% if related_areas %}
<h2>Research Areas</h2>
  {% include 'related_areas.njk' %}
<br /><br />
{% endif %}

{% if projects[ page.fileSlug ] %}
<h2>Related Projects</h2>
  {% for related_project in projects[ page.fileSlug ] %}
  <a href="/{{ related_project.path }}">{{ related_project.name }}</a>{% if not loop.last %}, {% endif %}
  {% endfor %}
<br /><br />
{% endif %}
