---
layout: base
---
<div class="wrapper">

<header class="header">
{% include 'header.njk' %}
</header>

<nav class="nav" id="nav">
{% include 'navigation.njk' %}
</nav>

{{ content | latex | safe }}

<footer class="footer">
{% include 'footer.njk' %}
</footer>

</div>
