---
import Footer from "../components/Footer.astro"
import "../styles/global.css"
import "../styles/fonts.css"

type Props = {
	metaTitle?: string;
	metaDescription?: string;
	bodyClassName?: string;
}

const { metaTitle, metaDescription, bodyClassName = '' } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{metaTitle ? metaTitle + " | Cloudflare Research" : "Cloudflare Research"}</title>
		<!-- meta description -->
		{metaDescription && <meta name="description" content={metaDescription} />}
		<link rel="sitemap" href="/sitemap-index.xml" />

		<!-- OG -->
		<meta property="og:title" content={metaTitle ? metaTitle + " | Cloudflare Research" : "Cloudflare Research"} />
		{metaDescription && (<meta property="og:description" content={metaDescription} />)}
		<meta property="og:image" content="/images/og.jpg" />
		<meta property="og:image:width" content="1200" />
		<meta property="og:image:height" content="630" />
		<meta property="og:image:alt" content="Cloudflare Research" />
		<meta property="og:image:type" content="image/jpeg" />

		<!-- Preload critical font files -->
		<link rel="preload" href="/fonts/Inter/Inter-VariableFont_opsz,wght.woff2" as="font" type="font/woff2" crossorigin>
		<link rel="preload" href="/fonts/Roboto_Mono/RobotoMono-VariableFont_wght.woff2" as="font" type="font/woff2" crossorigin>

		<slot name="head" />
	</head>
	<body class={bodyClassName || ''}>
		<main class={`w-full max-w-page mx-auto ${bodyClassName !== 'home' ? 'md:dashed-borders' : ''}`}>
			<slot />
			<Footer />
		</main>
	</body>
</html>
