---
layout: skaffold
title: Publications
---

<style>
  {% for year in publications.years -%}
  #y{{ year }}:not(:checked) ~ cite.y{{ year }}{% if not loop.last -%},{% endif %}
  {% endfor -%} {
    display: none;
  }

  {% for area in publications.areas -%}
  #a{{ area }}:not(:checked) ~ cite.a{{ area }}{% if not loop.last -%},{% endif %}
  {% endfor -%} {
    display: none;
  }
  
  input.state {
    display: none;
  }
  input:not(:checked) + label {
    text-decoration: line-through;
    background-color: white;
  }
  input ~ label {
    background-color: lightgrey;
    padding: 0.2rem;
    border-radius: 0.2rem;
    border: 1px solid black;
    margin: 0.1rem;
    line-height: 2rem;
    user-select: none;
  }
</style>

<nav class="nav" id="nav">
</nav>

<article class="content" id="content">

<h1>Publications</h1>

{% set showYear = 'display' %}

<div class="publications">

years:
{% for year in publications.years -%}
<input type="checkbox" id="y{{year}}" class="state" checked><label for="y{{ year }}">{{ year }}</label>
{% endfor -%}

<br />

research areas:
{% for area in publications.areas -%}
<input type="checkbox" id="a{{ area }}" class="state" checked><label for="a{{ area }}">{{ areas[ area ].name }}</label>
{% endfor -%}

<br /><br />

{% for publication in publications.ordered -%}
  {% include 'publication_item.njk' -%}
{% endfor -%}
</div>

</article>

<aside class="sidebar" id="sidebar">
</aside>
