---
layout: skaffold
title: Publications
---

<style>

  div.publications cite {
    display: none;
  }

  {% for area in publications.areas -%}
  #a{{ area }}:checked ~ cite.a{{ area }}{% if not loop.last -%},{% endif %}
  {% endfor -%} {
    display: block;
  }


  input.state {
    display: none;
  }
 .publications input:not(:checked) + label {
    text-decoration: line-through;
    background-color: white;
  }
  .publications input ~ label {
    padding: 0.2rem;
    border-radius: 0.2rem;
    border: 1px solid black;
    margin: 0.1rem;
    line-height: 2rem;
    user-select: none;
    background-color: lightgrey;
  }i
</style>


<nav class="nav" id="nav">
</nav>

<article class="content" id="content">

<h1>Publications</h1>

{% set showYear = 'display' %}

<div class="publications">

research areas:
{% for area in publications.areas -%}
<input type="checkbox" id="a{{ area }}" class="state" checked><label tabindex=0 for="a{{ area }}">{{ areas[ area ].name }}</label>
{% endfor -%}

<br /><br />

{% for publication in publications.ordered -%}
  {% include 'publication_item.njk' -%}
{% endfor -%}
</div>

</article>

<aside class="sidebar" id="sidebar">
</aside>
