---
layout: skaffold
title: Publications
---

<nav class="nav" id="nav">
</nav>

<article class="content" id="content">

<h1>Publications</h1>

<div class="publications">
<hr />

{% set year = null -%}

{% for publication in publications.ordered -%}

  {% if year != publication.year %}
    {% set showYear = 'display' %}
  {% else %}
    {% set showYear = false %}
  {% endif %}
  {% include 'publication_item.njk' %}
    {% set year = publication.year -%}

<hr />
{% endfor %}
</div>

</article>

<aside class="sidebar" id="sidebar">
</aside>
